{% extends 'model-page.html' %}


{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row" style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title" align-text=" center">Encontre sua carona aqui!</h3>

                    </div>
                    <br>
                    <br>


                    <form method="GET">
                        {%csrf_token %}

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="partida"><em class="fa fa-map-marker">&nbsp;</em>Local de
                                        Saida:</label>
                                    <div class="input-group">
                                        <input type="text" id="partida" class="form-control" name="partida"
                                               placeholder="Saindo ..." required>
                                        <span class="input-group-btn" id="clear-input-partida">
                                                <button type="button" onclick="clearInputPartida()"
                                                        class="btn btn-primary btn-md" id="btn-todo"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;"><em
                                                        class="fa fa-trash"></em></font></font></button>
                                            </span>
                                    </div>
                                    <div id="partida_list"></div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="form-group">

                                    <label for="destino"><em class="fa fa-map-marker">&nbsp;</em>Local de
                                        Chegada:</label>
                                    <div class="input-group">
                                        <input type="text" id="destino" class="form-control" name="destino"
                                               placeholder="Indo para ..." required>
                                        <span class="input-group-btn" id="clear-input-destino">
                                                <button type="button" onclick="clearInputDestino()"
                                                        class="btn btn-primary btn-md"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;"><em
                                                        class="fa fa-trash"></em></font></font></button>
                                            </span>
                                    </div>
                                    <div id="destino_list"></div>
                                </div>
                            </div>

                            <div class="col-md-2 col-xs-3">
                                <div class="form-group">
                                    <label for="dataPedCarona"><em class="fa fa-calendar"></em> Data:</label>
                                    <input type="date" id="dataPedCarona" class="form-control" name="dataPedCarona"
                                           placeholder="Data" required>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-3">
                                <div class="form-group">
                                    <!--<br/>-->
                                    <!--<button type="submit" class="btn btn-primary" id="button-addon1">
                                           <em
                                                   class="fa fa-search"
                                                   aria-hidden="true"></em> Buscar
                                    </button>-->
                                    <!--<div class="form-group">-->
                                    <label for="dataPedCarona"></label>
                                    <div style="padding: 7px; height: auto;">
                                        <button type="submit" value="Buscar" class="btn btn-primary">
                                            <em
                                                       class="fa fa-search"
                                                       aria-hidden="true"></em> Buscar
                                        </button>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                    </form>
                    <br>
                    {% include 'mensagens.html' %}
                    {% if List is not None %}
                    <table class="table table-striped">
                        <thead class=" text-primary">
                        <th scope="col">
                            Foto
                        </th>
                        <th scope="col">
                            Motorista
                        </th>
                        <th scope="col">
                            Partida
                        </th>
                        <th scope="col">
                            Destino
                        </th>
                        <th scope="col">
                            Quantidade de vagas
                        </th>
                        <th scope="col">
                            Dia
                        </th>
                        <th scope="col">
                            Valor da Passagem
                        </th>
                        <th scope="col">
                            Valor Total
                        </th>
                        <th scope="col">
                            Vagas
                        </th>
                        </thead>
                        {% for carona in List %}
                        <tbody>
                        <tr>
                            <td><img src="{{ carona.oferecer_carona.usuario.foto.url }}" style="width: 95px"></td>
                            <td>{{ carona.oferecer_carona.usuario.nome }}</td>
                            <td>{{ carona.partida }}</td>
                            <td>{{ carona.destino }}</td>
                            <td>{{ carona.oferecer_carona.quantidade_vagas }}</td>
                            <td>{{ carona.oferecer_carona.data_carona}}</td>
                            <td>{{ carona.oferecer_carona.valor_carona}}</td>
                            <td>{{ carona.oferecer_carona.valor_total}}</td>
                            <td>
                                <form action="{% url 'set_pedirCarona' carona.id %}" method="post">
                                    {%csrf_token %}

                                    <div class="form-group">
                                        <div class="col-md-4 col-xs-3">
                                            <input name="quantidade" id="quantidade" type="number" class="form-control"
                                                   placeholder="Vagas" required>
                                        </div>
                                        <div class="col-md-4 col-xs-3">
                                            <button class="btn btn-primary" type="submit">Pedir Carona</button>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <div class="col-md-5 col-xs-3">
                                            <button class="btn btn-primary" type="">Detalhes</button>
                                        </div>
                                    </div>-->

                                </form>
                            </td>
                        </tr>
                        </tbody>
                        {% empty %}
                        <tfoot>
                        {% include 'mensagem-nao-encontrada.html' with mensagem='Não existe nenhuma carona com esse
                        destino!' %}
                        </tfoot>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}