{% extends "model-page.html" %}

{% block style %}
<style>
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }
        div.container {
            padding: 10px;
        }


</style>
{% endblock %}

{% block content %}
<div class="row" style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center ">

    <div class="col-md-10" >
        <div class="card">
            <div class="card-header card-header-primary" >
                <h4 class="card-title" >Lista de usuarios</h4>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Nome
                        </th>
                        <th>
                            Foto
                        </th>
                        <th>Detalhe</th>
                        </thead>
                        <tbody>
                        {% for u in user %}
                        <tr>
                            <td>{{ u.nome }}</td>
                            <td><img src="{{ u.foto.url }}"  style="width: 95px"></td>
                            <td><a class="btn btn-primary" href="../detail/{{ u.id }}">Detalhe</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}