{% extends "model-page.html" %}

{% block content %}
<h1 class="text-center">Cadastro RNcaronas</h1>
<form enctype="multipart/form-data" action="submit" , method="POST"> {%csrf_token %}
    <div class="container">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <a href="/media/{{ usuario.photo }}" target="_blank">Foto atual</a>
            <input type="file" class="form-control-file border" name="file" accept="image/*">
        </div>
         <button type="submit" class="btn btn-primary">
             Cadastrar

            </button>
    </div>


</form>
{% endblock  %}