{% extends 'model-page.html'%}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row" style="display: flex;flex-direction: row;justify-content: center;align-items: center">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Lista de Caronas</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Foto
                                </th>
                                <th>
                                    Motorista
                                </th>
                                <th>
                                    Partida
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Quantidade de vagas
                                </th>
                                <th>
                                    Dia
                                </th>
                                <th>
                                    Valor
                                </th>
                                </thead>
                                <tbody>
                                {% for pedido in pedidos %}
                                <tr>

                                    <td><img src="{{ pedido.carona.oferecerCarona.Usuario.foto.url }}" style="width: 95px"></td>
                                    <td>{{ pedido.carona.oferecerCarona.Usuario.nome }}</td>
                                    <td>{{ pedido.carona.partida }}</td>
                                    <td>{{ pedido.carona.destino }}</td>
                                    <td>{{ pedido.quantidadeVagas }}</td>
                                    <td>{{ pedido.dataPedCarona}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                {% empty %}
                                <tr>
                                    <td><em class="fa fa-exclamation-circle"></em>Você não registrou nenhum pedido!</td>
                                </tr>
                                </tfoot>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}