{% extends "model-page.html" %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row"
             style="display: flex;flex-direction: row;justify-content: center;align-items: center">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Caronas Solicitadas</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Foto
                                </th>
                                <th>
                                    Motorista
                                </th>
                                <th>
                                    Partida
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Quantidade de vagas
                                </th>
                                <th>
                                    Dia
                                </th>
                                <th>
                                    Valor
                                </th>
                                </thead>
                                <tbody>
                                {% for pedir in ListPedidos %}
                                <tr>
                                    <td><img src="{{ pedir.Usuario.foto.url }}" style="width: 95px"></td>
                                    <td>{{ pedir.Usuario.nome }}</td>
                                    <td>{{ pedir.carona.partida }}</td>
                                    <td>{{ pedir.carona.destino }}</td>
                                    <td>{{ pedir.quantidadeVagas }}</td>
                                    <td>{{ pedir.dataOfCarona}}</td>
                                    <td>
                                        <form
                                            action="{% url 'aceitar_pedido' pedir.id %}"
                                        method="post">
                                        {%csrf_token %}

                                        <div class="form-group">
                                            <div class="col-md-4 col-xs-3">
                                                <button class="btn btn-primary" type="submit">Aceitar</button>
                                            </div>
                                        </div>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}