{% extends 'model-page.html'%}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row" style="display: flex;flex-direction: row;justify-content: center;align-items: center">

            <div class="col-md-12">
                {% include 'mensagens.html'  %}
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Lista de Caronas</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Foto
                                </th>
                                <th>
                                    Motorista
                                </th>
                                <th>
                                    Partida
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Quantidade de vagas
                                </th>
                                <th>
                                    Dia
                                </th>
                                <th>
                                    Valor da passagem
                                </th>
                                <th>
                                    Valor Total
                                </th>
                                </thead>
                                <tbody>
                                {% for pedido in pedidos %}
                                <tr>

                                    <td><img src="{{ pedido.carona.oferecer_carona.usuario.foto.url }}" style="width: 95px"></td>
                                    <td>{{ pedido.carona.oferecerCarona.Usuario.nome }}</td>
                                    <td>{{ pedido.carona.partida }}</td>
                                    <td>{{ pedido.carona.destino }}</td>
                                    <td>{{ pedido.quantidadeVagas }}</td>
                                    <td>{{ pedido.dataPedCarona}}</td>
                                    <td>{{ pedido.carona.oferecer_carona.valorCarona}}</td>
                                    <td>{{ pedido.total}}</td>

                                </tr>
                                </tbody>
                                <tfoot>
                                {% empty %}
                                {% include 'mensagem-nao-encontrada.html' with mensagem='Você não registrou nenhum pedido!'  %}
                                </tfoot>
                                {% endfor %}
                            </table>
                            <div style="margin-bottom: 7.5px">
                                <a class="btn btn-primary" href="/"><em class="fa fa-car">&nbsp;</em>Pedir
                            Carona</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}