{% extends "model-page.html" %}

{% block style %}
<style>
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }
        div.container {
            padding: 10px;
        }



</style>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row" style="display: flex;flex-direction: row;justify-content: center;align-items: center">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Lista de Caronas</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table" id="list-oferecer-carona">
                                <thead class=" text-primary">
                                <!--<th>
                                    Foto
                                </th>-->
                                <th>
                                    Partida
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Quantidade de vagas
                                </th>
                                <th>
                                    Dia
                                </th>
                                <th>
                                    Valor
                                </th>

                                <th>Detalhe</th>
                                </thead>
                                <tbody>
                                {% for carona in caronas %}
                                <tr>

                                    <!--<td><img src="{{ u.foto.url }}" style="width: 95px"></td>-->
                                    <td>{{ carona.partida }}</td>
                                    <td>{{ carona.destino }}</td>
                                    <td>{{ carona.oferecerCarona.quantidadeVagas }}</td>
                                    <td>{{ carona.oferecerCarona.dataOfCarona}}</td>
                                    <td>{{ carona.oferecerCarona.valorCarona}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}