{% extends "model-page.html" %}

{% block style %}
<style>
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }
        div.container {
            padding: 10px;
        }





</style>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">

        <div class="row" style="display: flex;flex-direction: row;justify-content: center;align-items: center">

            <div class="col-md-12">
                {% include 'mensagens.html'  %}
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Lista de Notificações</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table" id="list-oferecer-carona">
                                <thead class=" text-primary">
                                <th>
                                    Foto
                                </th>
                                <th>
                                    Mensagem
                                </th>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Quantidade no Pedido
                                </th>
                                <th>
                                    Dia do Pedido
                                </th>
                                <th>
                                    Partida
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Valor da Passagem
                                </th>
                                <th>
                                    Valor do Pedido
                                </th>
                                </thead>
                                <tbody>
                                {% for notificacao in notificacoes %}
                                <tr>

                                    <td><img src="{{ notificacao.UsuarioEnvia.foto.url }}" style="width: 95px">
                                    </td>
                                    <td>{{ notificacao.mensagem }}</td>
                                    <td>{{ notificacao.data }}</td>
                                    <td>{{ notificacao.PedidoSolicidato.quantidadeVagas }}</td>
                                    <td>{{ notificacao.PedidoSolicidato.dataPedCarona}}</td>
                                    <td>{{ notificacao.PedidoSolicidato.carona.partida}}</td>
                                    <td>{{ notificacao.PedidoSolicidato.carona.destino}}</td>
                                    <td>{{ notificacao.PedidoSolicidato.carona.oferecerCarona.valorCarona}}</td>
                                    <td>{{ notificacao.PedidoSolicidato.total}}</td>

                                </tr>
                                </tbody>
                                {% empty %}
                                 <tfoot>
                                 {% include 'mensagem-nao-encontrada.html' with mensagem='Não existe nenhuma notificação registrada no RNCaronas!!'  %}
                                </tfoot>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}